body {
    text-align: center;
    font-family: Helvetica,sans-serif;
    background-color: black;
}





/* botões */
#buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#buttons-container button {
    padding: 15px 30px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    background: #1e1e1e;
    color: greenyellow;
    box-shadow: 0 0 10px #363636, inset 0 0 10px #363636;
    cursor: pointer;
}

#buttons-container button:hover {
    animation: a 0.5s 1 linear;
}

@keyframes a {
    0% {
      transform: scale(0.7, 1.3);
    }
  
    25% {
      transform: scale(1.3, 0.7);
    }
  
    50% {
      transform: scale(0.7, 1.3);
    }
  
    75% {
      transform: scale(1.3, 0.7);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }

/* jogo */


#container {
    display: flex;
    width: 300px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.box {
    height: 100px;
    border: 5px solid greenyellow;
    box-sizing: border-box;
    flex: 1 1 33%;
}

#block-1, 
#block-2, 
#block-3 {
    border-top: none;
}


#block-1, 
#block-4, 
#block-7 {
    border-left: none;
}


#block-7, 
#block-8, 
#block-9 {
    border-bottom: none;
}


#block-3, 
#block-6, 
#block-9 {
    border-right: none;
}


/* Simbolos */


.x {
font-size: 65px;
color: rgb(0, 25, 107);
display: inline-block;
line-height: 100px;
}

.o {
width: 50px;
height: 50px;
border: 5px solid rgb(255, 188, 4);
border-radius: 50%;
display: inline-block;
margin-top: 17px;
}


/* classe esconder */ 

.hide {
   display: none !important;
}


/* Placar */ 

#scoreboard-container {
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #adff2f;
}


#x-scoreboard {
    color: rgb(0, 25, 107) ;
    margin-right: 3px;

}



#o-scoreboard {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid rgb(255, 188, 4);
    border-radius: 50%;
}

.score-box {
    margin: 0 20px;
}



/* msg de vitória */ 

#message p {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
    top: 20%;
    width: 500px;
    font-size: 50px;
    background-color: black;
    color: white;
    padding: 20px;

}



#titulo {
font-size: 3.4375rem;
color: #000;
     -webkit-text-stroke: 1px #addc23;
      text-stroke: 2px #addc23;
}